@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .counters-container {
        position: static;
        margin-top: 30px;
        width: 100%;
    }

    textarea {
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .counters-container {
        position: static;
        margin-top: 30px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .counters-container {
        position: absolute;
        top: 380px;
        right: 55px;
        width: 300px;
    }
}





